body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    /* Светлый фон для всего тела */
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    background: #f8f8f8;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Легкая тень для эффекта глубины */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #285c85;
    text-transform: uppercase;
    font-weight: bold;
}

.main-nav {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #007BFF;
}

.login-btn {
    background-color: #285c85;
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    padding: 40px 0;
}

h2 {
    color: #285c85;
    margin-bottom: 20px;
}

.content {
    display: flex;
}

.discussions {
    flex: 3;
    /* Основной блок обсуждений */
    margin-right: 20px;
}

.discussion {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.discussion:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.discussion-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #285c85;
    text-decoration: none;
}

.discussion-meta {
    font-size: 0.9em;
    color: #999;
}

.discussion-summary {
    font-size: 1em;
    color: #555;
}

.sidebar {
    flex: 1;
    /* Боковая панель для списка обсуждений */
    position: sticky;
    top: 20px;
    max-height: 80vh;
    overflow-y: auto;
}

.discussion-list {
    list-style: none;
    padding: 0;
}

.discussion-list-item {
    margin: 10px 0;
}

.discussion-list-item a {
    color: #285c85;
    text-decoration: none;
}

.discussion-list-item a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
