body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    background: #f8f8f8;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #285c85;
    text-transform: uppercase;
    font-weight: bold;
}

.main-nav {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #007BFF;
}

.login-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-btn {
    background-color: #285c85;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 50px auto;
    max-width: 400px;
    /* Максимальная ширина контейнера для формы */
    text-align: center;
    /* Центрирование текста */
}

.login-container h2 {
    color: #285c85;
    /* Цвет заголовка */
    margin-bottom: 20px;
}

.register-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 50px auto;
    max-width: 400px;
    text-align: center;
}

.register-container h2 {
    color: #285c85;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.register-btn {
    background-color: #285c85;
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.register-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-link {
    text-decoration: none;
    color: #285c85;
}

.login-link:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}