<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статьи и Вопросы</title>
    <link rel="stylesheet" href="../../static/style.css"> <!-- Здесь подключается ваш CSS -->
</head>
<body>
    <header>
        <h1>Перекресток</h1>
        <nav>
            <a href="main.html">Перекресток</a>
            <a href="news.html">Статьи</a>
            <a href="disc.html">Обсуждения</a>
            <a href="we.html">Сообщество</a>
        </nav>
    </header>

    <main>
        
            <section class="questions">
                <h2>Вопросы и обсуждения</h2>
                <ul>
                    <li><a href="question1.html">Как создать HTML-страницу?</a></li>
                    <li><a href="question2.html">Что такое CSS и как он работает?</a></li>
                    <li><a href="question3.html">Как использовать JavaScript в HTML?</a></li>
                    <li><a href="question4.html">Что такое адаптивный дизайн?</a></li>
                    <li><a href="question5.html">Какие инструменты для разработки веб-сайтов существуют?</a></li>
                </ul>
            </section>
        </div>
    </main>

    <footer>
        <div>
            <p>&copy; 2024 PKR-Groupe. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>